body {
    text-align: center;
    background-color: lightblue;
}

h1 {
    color: green;
    font-family: verdana;
    font-size: 300%;
}

h2 {
    color: navy;
    font-family: verdana;
    font-size: 275%;
}

p {
    color: green;
    font-family: verdana;
    font-size: 160%;
}