body {
    text-align: center;
    background-color: lightblue;
}

h1 {
    color: green;
    font-family: verdana;
    font-size: 300%;
}

h2 {
    color: navy;
    font-family: verdana;
    font-size: 275%;
}

p {
    color: green;
    font-family: verdana;
    font-size: 160%;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
